<ion-header>
    <ion-navbar class="easy-header">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Change Password</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div class="row">
        <div class="col easy-center">
            <img src="assets/logo.png" alt="logo" width="70%">
        </div>
    </div>

    <ion-grid *ngIf="userid">
        <ion-row>
            <ion-col>
                <ion-list>

                    <ion-item>
                        <ion-label floating>Old Password</ion-label>
                        <ion-input type="password" [(ngModel)]="oldPassword"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>New Password</ion-label>
                        <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Confirm Password</ion-label>
                        <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
                    </ion-item>


                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <button ion-button block style="font-weight: 100;" (click)="changePassword()">Change Password</button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="!userid">
        <button ion-button block (click)="login()">Login</button>
        <p style="text-align:center;">Please Login to Change the Password</p>
    </ion-grid>

</ion-content>