<ion-header>
    <div class="easy-header">
        <h4 class="title" style="font-weight: 100;">Signup</h4>
    </div>
</ion-header>

<ion-content padding scrollX="false" scrollY="false">

    <div class="row">
        <div class="col easy-center">
            <img src="assets/logo.png" alt="logo" width="70%">
        </div>
    </div>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list>

                    <ion-item>
                        <ion-label floating>First Name</ion-label>
                        <ion-input type="text" [(ngModel)]="Firstname"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Last Name</ion-label>
                        <ion-input type="text" [(ngModel)]="Lastname"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input type="email" [(ngModel)]="Email"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Password</ion-label>
                        <ion-input type="password" [(ngModel)]="Password"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Confirm Password</ion-label>
                        <ion-input type="password" [(ngModel)]="ConfirmPassword"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Phone</ion-label>
                        <ion-input type="number" [(ngModel)]="Phone"></ion-input>
                    </ion-item>

                    <br>

                    <ion-item>
                        <ion-label>Country</ion-label>
                        <ion-select (ionChange)="CountryCode($event)">
                            <ion-option *ngFor="let country of countries" [value]="country.Id">{{country.Name}}</ion-option>
                        </ion-select>
                    </ion-item>

                    <br>

                    <ion-item>
                        <ion-label>City</ion-label>
                        <ion-select (ionChange)="CityCode($event)">
                            <ion-option *ngFor="let city of cities" [value]="city.Id">{{city.Name}}</ion-option>
                        </ion-select>
                    </ion-item>

                    <br>

                    <ion-item class="item item-checkbox">
                        <label class="checkbox">
                          <input [(ngModel)]="TermsConditions" type="checkbox" checked>
                        </label>
                        Accept Terms & Condition <a target="_blank" href="http://easylifeglobal.com/TermsConditions.aspx">Terms & Conditions</a>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <button ion-button block style="font-weight: 100;" (click)="signup()">Signup</button>
            </ion-col>
        </ion-row>

       <p style="font-size: 16px; text-align: center; "><strong>OR</strong></p>
        <ion-row>
            <button ion-button block icon-only style="font-weight: 100; background:#4267B2;" (click)="signupWithFb()">
                    <ion-icon name="logo-facebook"></ion-icon>
                Signup with Facebook</button>
        </ion-row>
        <ion-row>
            <button ion-button block icon-only style="font-weight: 100; background:#DB4437;" (click)="signupWithGM()">
                    <ion-icon name="mail"></ion-icon>
                Signup with Gmail</button>
        </ion-row>

        <ion-row>
            <ion-col>
                <p style="text-align: center; font-size: 12px;">ALREADY REGISTER?
                    <a style="text-decoration: none; font-size: 12px;" (click)="GoToLogin()">LOGIN HERE</a> </p>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>

<ion-footer>
    <div class="bar bar-footer">
        <div class="title">
            <p style="font-size: 13px; text-align: center; ">Copyright &#169; 2017 Easy life Global Version 1.0 </p>
        </div>
    </div>
</ion-footer>